.converted-result-card {
  margin: 0 auto;
  width: 30.5rem;
  height: 15rem;
  font-weight: 700;
  background-color: lighten($color-primary, 50%);
  border-radius: 0.6rem;
  transition: all 0.3s;
  display: grid;
  place-content: center;
  font-size: 2rem;

  &:hover {
    transform: translateY(-0.5rem);
  }
}
