.home-page {
  padding: $padding-y-large $padding-x-large;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32.5rem, 1fr));
  grid-template-rows: auto;
  gap: 2.4rem;
}
