.header {
  &__logo {
    font-weight: 700;
    font-size: 2.5rem;
    color: $color-white;
  }

  @media only screen and (max-width: 700px) {
    &__logo {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }

  &__navigation {
    &-link {
      color: $color-white;
      text-decoration: none;
      font-size: 1.8rem;
      background-color: darken($color-primary, 10%);
      padding: 1.7rem 1rem;
      border-radius: 0.8rem;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background-color: darken($color-primary, 60%);
      }

      &:first-child {
        margin-right: 2rem;
      }

      @media only screen and (max-width: 700px) {
        & {
          font-size: 1.2rem;
          padding: 1.2rem .5rem;
        }
      }
    }
  }
}
